{% extends "P4MBackofficeBundle::my-account.html.twig" %}



 {% block page %}
     <h2 class="form-title">{{ 'your producer wallet balance'|trans({}, 'Backoffice') }}</h2>
     <p><strong>{{ wallet.Balance.Amount/100 }} {{ wallet.Balance.Currency }}</strong></p>
     <h2 class="form-title">{{ 'Your retributions'|trans({}, 'Backoffice') }}</h2>
     <table class="table table-bordered table-striped">
         <thead>
         <tr>
             <th>{{ 'Date'|trans({}, 'Backoffice') }}</th>
             <th>{{ 'Post'|trans({}, 'Backoffice') }}</th>
             <th>{{ 'Status'|trans({}, 'Backoffice') }}</th>
             <th>{{ 'Sender'|trans({}, 'Backoffice') }}</th>
         </tr>
         </thead>
         <tbody>
         {% for pressform in pressforms %}
             <tr>
                 <th>{{ pressform.date|date('d-m-Y') }}</th>
                 <td>{{ pressform.post.title }}</td>
                 <td>{% if pressform.payed %}payed{% else %}{{ 'not paid yet'|trans({}, 'Backoffice') }}{% endif %}</td>
                 <td>{{ pressform.sender.username }}</td>
             </tr>
         {% endfor %}
         </tbody>
     </table>

     {#
     {%if payoutPending%}
     <div class="explanation-zone">
         <p>Prior transfer is not complete yet. Please wait until it is fully processed </p>
     </div>
     {%elseif wallet is null%}
         <div class="explanation-zone">
             <p>Please <a href="{{path('p4_m_backoffice_producer_key')}}">activate your producer account.</a> </p>
         </div>
     {%elseif wallet.Balance.Amount>=100%}
     {%if bankAccounts|length%}
     <form method="post" enctype="multipart/form-data"  class="form-horizontal" role="form" action="">
         <div class="explanation-zone">
             <p>You can payout from your producer wallet to your registred bank account. <strong>{{wallet.Balance.Amount/100}} {{wallet.Balance.Currency}}</strong> will be transfered to your selected bank account</p>
         </div>
         <div class="form-group">
             <label class="col-sm-20 control-label form-field-title" for="banckAccount">Choose a registred account *</label>

             <div class="col-sm-30">
                 <select name="bankAccount" id="bankAccount" class="form-control" required="required">
                     <option></option>
                     {%for account in bankAccounts%}
                     <option value="{{account.Id}}">{%if account.Type=='IBAN'%}{{account.Details.IBAN}}{%endif%} {{account.Type}}</option>
                     {%endfor%}
                 </select>
                 <div class="clear"></div>
             </div>
             <div class="clear"></div>
         </div>
         <button class="primary" type="submit">Pay Out</button>
     </form>
     {%else%}
     <div class="explanation-zone">
         <p>Please register a bank account in order to transfer the money.</p>
     </div>
     {%endif%}
 {%endif%}

 #}







 {% endblock %}





