{% extends "P4MBackofficeBundle::my-account.html.twig" %}



 {% block page %}
     <h2 class="form-title">{{ 'Producing'|trans({}, 'Backoffice')}}</h2>

     {% if user.producerEnabled == false %}
         <p>{{ 'Your producer account is not activated. '|trans({}, 'Backoffice')}}
             <a href="{{ path('p4_m_backoffice_producer_activate') }}">{{ 'ACTIVATE'|trans({}, 'Backoffice')}}</a>
         </p>
     {% else %}
         <p>{{ 'Your account Key : %key%'|trans({'%key%': user.producerKey}, 'Backoffice')}}
             <a href="#" data-target="#htmlCode" data-toggle="#htmlCode">
                 {{ 'get html code'|trans({}, 'Backoffice')}}
             </a>
         </p>
         <p id="htmlCode" class="">{{ 'Put this code in the head part in the html of your website'|trans({}, 'Backoffice')}} <br/>
             <input type="text" disabled="disabled" size="100"
                    value="{{ '<meta name="pressformore-key" content="'~user.producerKey~'">' }}"/></p>

         <h3 class="form-title">
             {{ 'Your producer wallet: %amount% %currency%'|trans({'%amount%': wallet.Balance.Amount/100, '%currency%': wallet.Balance.Currency}, 'Backoffice')}}
         </h3>

         <h3>{{ 'Your pay-outs'|trans({}, 'Backoffice')}}</h3>
         <ul>
             {% for payout in payouts %}
                 <li>{{ payout.Status }} | {{ payout.ExecutionDate|date('d-m-Y') }}</li>
             {% endfor %}
         </ul>

         {% if payoutPending %}
             <div class="explanation-zone">
                 <p>{{ 'Prior transfer is not complete yet. Please wait until it is fully processed'|trans({}, 'Backoffice')}} </p>
             </div>
         {% elseif wallet.Balance.Amount>=100 %}
             <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form" action="">
                 <div class="explanation-zone">
                     <p>
                         {{ 'You can payout from your producer wallet to your registred bank account. <strong>%amount% %currency%</strong> will be transfered to your selected bank account'|trans({'%amount%': wallet.Balance.Amount/100, '%currency%': wallet.Balance.Currency}, 'Backoffice')|raw}}
                     </p>
                 </div>
                 <div class="form-group">
                     <label class="col-sm-20 control-label form-field-title" for="banckAccount">
                         {{ 'Choose a registred account'|trans({}, 'Backoffice')}} *
                     </label>

                     <div class="col-sm-30">
                         <select name="bankAccount" id="bankAccount" class="form-control" required="required">
                             <option></option>
                             {% for account in bankAccounts %}
                                 <option value="{{ account.id }}">{% if account.type=='IBAN' %}{{ account.iBAN }}{% endif %} {{ account.type }}</option>
                             {% endfor %}
                         </select>
                         <div class="clear"></div>
                     </div>
                     <div class="clear"></div>
                 </div>
                 <button class="primary" type="submit">{{ 'Pay Out'|trans({}, 'Backoffice')}}</button>
             </form>
         {% endif %}
     {% endif %}
 {% endblock %}