{% set user = app.security.getToken().getUser() %}

{% if wall is defined %}
    {% if wall.user.id == user.id %}
        <li id="action-bar-edit-wall" class="action-bar-item">
            <a class="action-bar-link" href="{{ path('p4m_backoffice_wall_edit',{wallSlug:wall.slug}) }}"
               title="{{ 'Edit this wall'|trans({}, 'menu')}}">
                <span class="action-bar-icon glyphicon edit"></span>
            </a>
        </li>
    {% else %}
        <li id="action-bar-follow">
            {% set following = wall.hasFollower(user) %}
            <a class="to-follow action-bar-link ajax_action{% if following == true %} hidden{% endif %}{#Problème ? :D#}"
               href="#meta" title="{{ 'Follow %wallName% strew'|trans({'%wallName%': wall.name}, 'menu')}}" data-action="followWall"
               data-url="{{ path('p4m_ajax_action') }}"
               data-params="{{ {'wallId':wall.id,callBack:'follow-action',listener:'#action-bar-follow'}|json_encode() }}"
               data-key="{{ {'wallId':wall.id,callBack:'follow-action',listener:'#action-bar-follow'}|json_encode()|sha512 }}">
                <span class="action-bar-icon icon-strew-follow"></span>
            </a>
            <a class="followed action-bar-link ajax_action{% if following == false %} hidden{% endif %}" href="#meta"
               title="{{ 'Unfollow %wallName% strew'|trans({'%wallName%': wall.name}, 'menu')}}" data-url="{{ path('p4m_ajax_action') }}"
               data-action="unfollowWall"
               data-params="{{ {'wallId':wall.id,callBack:'follow-action',listener:'#action-bar-follow'}|json_encode() }}"
               data-key="{{ {'wallId':wall.id,callBack:'follow-action',listener:'#action-bar-follow'}|json_encode()|sha512 }}">
                <span class="action-bar-icon icon-strew-unfollow"></span>
            </a>
        </li>
    {% endif %}


    <li id="action-bar-rate">
        <div id="action-bar-ratio-wrap">
            <span class="ratio-plus-number">{{ wall.positiveVoteNumber }}</span>

            <div id="action-bar-ratio">
                <div class="ratio-plus"></div>
                <div class="ratio-less"></div>
            </div>
            <span class="ratio-less-number">{{ wall.negativeVoteNumber }}</span>
        </div>

        <div id="action-bar-vote-wrap">
            <a data-vote-number="{{ wall.positiveVoteNumber }}" id="rating_more"
               class="action-bar-link action-bar-rate-button ajax_action" data-target="#section-rating" href="#comments"
               title="{{ 'Vote up for %wallName% strew'|trans({'%wallName%': wall.name}, 'menu')}}" data-url="{{ path('p4m_ajax_action') }}"
               data-params="{{ {'score':1,'wallId':wall.id}|json_encode() }}" data-action="wallVote"
               data-key="{{ {'score':1,'wallId':wall.id}|json_encode()|sha512 }}">
                <span class="action-bar-icon glyphicon plus"></span>
            </a>

            <a data-vote-number="{{ wall.negativeVoteNumber }}" id="rating_less"
               class="action-bar-link action-bar-rate-button ajax_action" data-target="#section-rating" href="#comments"
               title="{{ 'Vote down for %wallName% strew'|trans({'%wallName%': wall.name}, 'menu')}}" data-url="{{ path('p4m_ajax_action') }}"
               data-params="{{ {'score':-1,'wallId':wall.id}|json_encode() }}" data-action="wallVote"
               data-key="{{ {'score':-1,'wallId':wall.id}|json_encode()|sha512 }}">
                <span class="action-bar-icon glyphicon minus"></span>
            </a>
        </div>

    </li>


    <li class="action-bar-item">
        <a class="action-bar-link" data-toggle="action-bar" data-toggle="action-bar" data-target="#section-comments"
           href="#comments" title="{{ 'See the comments or add one!'|trans({}, 'menu')}}">
            <span class="action-bar-icon glyphicon comments"><span
                        class="action-bar-text">{{ wall.comments|length }}</span></span>
        </a>
    </li>


    <li class="action-bar-item">
        <a class="action-bar-link content-modifier ajax_form_force" data-toggle="action-bar"
           data-target="#section-community" href="#community" title="{{ '%wallName% strew community'|trans({'%wallName%': wall.name}, 'menu')}}"
           data-ajaxTarget="wall-community-form">
                <span class="action-bar-icon glyphicon group">
                </span>
        </a>
    </li>
{% endif %}
<li class="action-bar-item">
    <a class="action-bar-link content-modifier" data-toggle="action-bar" data-target="#section-filters"
       data-ajaxTarget="action-bar-filters-form" href="#filters" title="{{ '%wallName% strew content'|trans({'%wallName%': wall.name}, 'menu')}}">
        <span class="action-bar-icon glyphicon file"></span>
    </a>
</li>
{% if wall is defined %}
    {#
    <li class="action-bar-item">
            <a class="action-bar-link content-modifier" data-toggle="action-bar" data-target="#section-stats" data-ajaxTarget="action-bar-filters-form"  href="#stats" title="{{wall.name}} strew stats">
                    <span class="action-bar-icon glyphicon charts"></span>
            </a>
    </li>#}

    <li class="action-bar-item">
        <a class="action-bar-link{#{% if wall.flag is null or flagged == true%} current-action-bar-item{%endif%}#} content-modifier"
           data-ajaxTarget="action-bar-filters-form" data-toggle="action-bar" data-target="#section-infos" href="#infos"
           title="{{ 'About %wallName% strew'|trans({'%wallName%': wall.name}, 'menu')}}">
            <span class="action-bar-icon glyphicon circle_info"></span>
        </a>
    </li>


    <li id="action-bar-report" class="action-bar-item">
        <a class="action-bar-link{% if wall.flag and flagged == false %} current-action-bar-item{% endif %}"
           data-toggle="action-bar" data-target="#section-report" href="#report" title="{{ 'Report strew'|trans({}, 'menu')}}">
            <span class="glyphicon flag"></span>
        </a>
    </li>

{% endif %}



