<li id="action-bar-follow">

    <a class="to-follow action-bar-link" href="#" title="{{ 'Follow'|trans({'%username%' : userDisplayed.username}, 'menu')}}" data-toggle="modal"
       data-target="#modal-register">
        <span class="action-bar-icon glyphicon user_add"></span>
    </a>


</li>
<li class="action-bar-item">
    <a class="action-bar-link content-modifier ajax_form_force" data-ajaxTarget="profile-wall-form"
       data-toggle="action-bar" data-target="#section-strews" data-loader="content" href="#strews"
       title="{{ '\'s strews'|trans({'%username%': userDisplayed.username}, 'menu')}}">
        <span class="action-bar-icon icon-strew"></span>
    </a>
</li>


<li class="action-bar-item">
    <a class="action-bar-link content-modifier ajax_form_force" data-ajaxTarget="profile-community-form"
       data-toggle="action-bar" data-target="#section-community" href="#community"
       title="{{ '\'s community'|trans({'%username%' : userDisplayed.username}, 'menu')}}">
        <span class="action-bar-icon glyphicon group">
        </span>
    </a>
</li>

{#<li class="action-bar-item">
    <a class="action-bar-link" data-toggle="action-bar" data-target="#section-badges" href="#badges" title="{{ '\'s reputation'|trans({'%username%' : userDisplayed.username}, 'menu')}}">
        <span class="action-bar-icon glyphicon crown"></span>
    </a>
</li>#}

<li class="action-bar-item">
    <a class="action-bar-link content-modifier ajax_form_force" data-toggle="action-bar" data-target="#section-posts"
       data-ajaxTarget="action-bar-filters-posts" href="#posts" title="{{ '\'s activity'|trans({'%username%' : userDisplayed.username}, 'menu')}}">
        <span class="action-bar-icon glyphicon cardio"></span>
    </a>
</li>

{#<li class="action-bar-item">
    <a class="action-bar-link" data-toggle="action-bar" data-target="#section-stats" href="#stats" title="{{userDisplayed.username}}{{ '\'s stats'|trans({}, 'menu')}}">
        <span class="action-bar-icon glyphicon charts"></span>
    </a>
</li>#}

<li class="action-bar-item content-modifier">
    <a class="action-bar-link{% if userDisplayed.flag is null or flagged == true %} current-action-bar-item{% endif %}"
       data-toggle="action-bar" data-target="#section-infos" href="#infos" title="{{ 'About'|trans({'%username%' : userDisplayed.username}, 'menu')}}">
        <span class="action-bar-icon glyphicon circle_info"></span>
    </a>
</li>


<li class="action-bar-item" id="action-bar-report">
    <a class="action-bar-link{% if userDisplayed.flag and flagged == false %} current-action-bar-item{% endif %}"
       data-toggle="action-bar" data-target="#section-report" href="#report" title="{{ 'Report user'|trans({}, 'menu')}}">
        <span class="glyphicon flag"></span>
    </a>
</li>