 <div class="filter-wrap-large">
<h4 class="action-bar-small-title"><span class="glyphicon star"></span>{{ 'Rank'|trans({}, 'menu')}}</h4>
<ul class="filter-type-radio">
       <li class="filter-radio selected">
          <img alt="" data-unselected="{{asset('images/design/icons/running-gray-color.png')}}" data-selected="{{asset('images/design/icons/running-full-color.png')}}" src="{{asset('images/design/icons/running-gray-color.png')}}" />
          <span class="filter-label">{{ 'Followers'|trans({}, 'menu')}}</span>
          <input type="radio" name="rank" value="followers" checked="checked" />   
      </li> 
      <li class="filter-radio">
          <img alt="" data-unselected="{{asset('images/design/icons/heart-gray-color.png')}}" data-selected="{{asset('images/design/icons/heart-full-color.png')}}" src="{{asset('images/design/icons/heart-gray-color.png')}}" />
          <span class="filter-label">{{ 'Like'|trans({}, 'menu')}}</span>
          <input type="radio"  name="rank" value="like" />   
      </li> 
      <li class="filter-radio">
          <img alt="" data-unselected="{{asset('images/design/icons/chat-gray-color.png')}}" data-selected="{{asset('images/design/icons/chat-full-color.png')}}" src="{{asset('images/design/icons/chat-gray-color.png')}}" />
          <span class="filter-label">{{ 'Comment'|trans({}, 'menu')}}</span>
          <input type="radio" name="rank" value="comments" />   
      </li> 

      {#<li class="filter-radio">
          <img alt="" data-unselected="{{asset('images/design/icons/upload-gray-color.png')}}" data-selected="{{asset('images/design/icons/upload-full-color.png')}}" src="{{asset('images/design/icons/upload-gray-color.png')}}" />
          <span class="filter-label">{{ 'share'|trans({}, 'menu')}}</span>
          <input type="radio"  name="rank" value="share" />   
      </li> #}
       <li class="filter-radio">
           <img alt="" data-unselected="{{asset('images/design/icons/eye-gray-color.png')}}" data-selected="{{asset('images/design/icons/eye-full-color.png')}}" src="{{asset('images/design/icons/eye-gray-color.png')}}" />
          <span class="filter-label">{{ 'Views'|trans({}, 'menu')}}</span>
          <input type="radio"  name="rank" value="view" />   
      </li> 

</ul>
<div class="clear"></div>
</div>
<div class="clear"></div>

    {#<div class="filter-wrap-large">
            <h4 class="action-bar-small-title"><span class="glyphicon flag"></span>Language</h4>	
            <ul class="filter-type-checkbox">
                <li class="filter-checkbox selected">
                    <img alt="" data-unselected="{{asset('images/design/icons/flag-gray-color.png')}}" data-selected="{{asset('images/design/icons/flag-full-color.png')}}" src="{{asset('images/design/icons/flag-full-color.png')}}" />
                    <span class="filter-label">FR</span>
                    <input type="checkbox"  name="filter-language[]" value="" checked="checked" />   
                </li> 
                <li class="filter-checkbox">
                    <img alt="" data-unselected="{{asset('images/design/icons/flag-gray-color.png')}}" data-selected="{{asset('images/design/icons/flag-full-color.png')}}" src="{{asset('images/design/icons/flag-gray-color.png')}}" />
                    <span class="filter-label">EN</span>
                    <input type="checkbox"  name="filter-language[]" value="" />   
                </li> 
                <li class="filter-checkbox">
                    <img alt="" data-unselected="{{asset('images/design/icons/flag-gray-color.png')}}" data-selected="{{asset('images/design/icons/flag-full-color.png')}}" src="{{asset('images/design/icons/flag-gray-color.png')}}" />
                    <span class="filter-label">IT</span>
                    <input type="checkbox"  name="filter-language[]" value="" />   
                </li> 
                <li class="filter-checkbox">
                    <img alt="" data-unselected="{{asset('images/design/icons/flag-gray-color.png')}}" data-selected="{{asset('images/design/icons/flag-full-color.png')}}" src="{{asset('images/design/icons/flag-gray-color.png')}}" />
                    <span class="filter-label">ESP</span>
                    <input type="checkbox"  name="filter-language[]" value="" />   
                </li> 
            </ul>
            <div class="clear"></div>
    </div>#}

    <div class="filter-wrap-large">
            <h4 class="action-bar-small-title"><span class="glyphicon book"></span>{{ 'Categories'|trans({}, 'menu')}}</h4>
            <ul class="filter-type-checkbox">
            {%if categories is not defined%}
                {% if userDisplayed is defined %}
                    {% set categories = getWallsCategories(userDisplayed.walls)%}
                {%elseif user is not null and user != 'anon.'%}
                    {% set categories = getWallsCategories(user.walls)%}
                {%else %}
                    {%set categories = []%}
                {%endif%}
            {%endif%}
           {% for category in categories %}     
               <li class="filter-checkbox selected">
                  <img alt="" data-unselected="{{asset(category.iconGrey)}}" data-selected="{{asset(category.iconColor)}}" src="{{asset(category.iconColor)}}" />
                  <span class="filter-label">{{category.name}}</span>
                  <input type="checkbox"  name="categories[]" value="{{category.id}}"  checked="checked"/>

               </li>
           {% endfor %}

            </ul>
            <div class="clear"></div>
    </div>{# empty Twig template #}
