{% extends "P4MBackofficeBundle:pages/notification/notification-line:notification-line.html.twig" %}


{% block text %}
    {% if notification.vote.post %}
        <a href="{{ path('p4m_social_profile',{username:notification.vote.user.username}) }}">
            {{ notification.vote.user.username }}
        </a>
        {% if notification.vote.score >0 %}{{ 'liked'|trans({}, 'Backoffice')}}{% else %}{{ 'unliked'|trans({}, 'Backoffice')}}{% endif %}
        {{ 'your'|trans({}, 'Backoffice')}}
        <a href="{{ path('p4m_core_post',{postSlug:notification.vote.post.slug}) }}">{{ 'post'|trans({}, 'Backoffice')}}</a>
    {% elseif notification.vote.comment %}
        <a href="{{ path('p4m_social_profile',{username:notification.vote.user.username}) }}">
            {{ notification.vote.user.username }}
        </a> {% if notification.vote.score >0 %}liked{% else %}unliked{% endif %} {{ 'your comment on this'|trans({}, 'Backoffice')}}
        <a href="{{ path('p4m_core_post',{postSlug:notification.vote.post.slug}) }}">{{ 'post'|trans({}, 'Backoffice')}}</a>
    {% else %}
        <a href="{{ path('p4m_social_profile',{username:notification.vote.user.username}) }}">
            {{ notification.vote.user.username }}
        </a> {% if notification.vote.score >0 %}{{ 'liked'|trans({}, 'Backoffice')}}{% else %}{{ 'unliked'|trans({}, 'Backoffice')}}{% endif %} {{ 'your stream'|trans({}, 'Backoffice')}}
        <a href="{{ path('p4m_core_showWall',{wallSlug:notification.vote.wall.slug}) }}">notification.vote.wall.name</a>
    {% endif %}
{% endblock %}
