<h1>{{ '%user% invited you to pressformore.com'|trans({'%user%': invitation.user.username}, 'user')}}</h1>
{{ 'if you want to register with your code, click <a href="%url%?token=%code%">here</a> or copy paste de link above in your favorite navigator'|trans({'%url%': url('fos_user_registration_register'), '%code%': invitation.code}, 'user')|raw}}
{#if you want to register with your code, click <a href="%url%?token=%code%">here</a> or copy paste de link above in your favorite navigator#}

<p>{{ 'you can share your code with %number% friends'|trans({'%number%': invitation.maxIterations - 1}, 'user')}}</p>

{{url('fos_user_registration_register')}}?token={{invitation.code}}
