<h1>{{invitation.user.username}} invited you to pressformore.com</h1>

if you want to register with your code, click <a href="{{url('fos_user_registration_register')}}?token={{invitation.code}}">here</a> or copy paste de link above in your favorite navigator

<p>you can share your code with {{invitation.maxIterations - 1}} friends</p>

{{url('fos_user_registration_register')}}?token={{invitation.code}}
