{% extends 'P4MUserBundle:Social/Profile:my-account.html.twig' %}


{% block accountTitle %}Change your password{% endblock %}

{% block accountNote %}
    {% if form_errors(form)|length %}
        <p><i class="icon-info-sign"></i>{{ form_errors(form) }}</p>
    {% endif %}
{% endblock %}

{% block accountForm %}
    <div class="form-field">
        <label class="required form-field-title" for="currentPassword">{{ 'Current password'|trans({}, 'user')}}</label>
        <input type="password" class="form-field-input" value="" required="required" name="currentPassword"
               id="currentPassword"/>
    </div>

    <div class="form-field">
        <label class="required  form-field-title" for="{{ form.plainPassword.first.vars.id }}">{{ 'New password'|trans({}, 'user')}}</label>
        {{ form_widget(form.plainPassword.first) }}<br/>
        {{ form_widget(form.plainPassword.second) }}<br/>
        <p id="password-match">
            <small>{{ 'Password are similar'|trans({}, 'user')}}</small>
        </p>
        <p id="password-no-match">
            <small>{{ 'Password are not similar'|trans({}, 'user')}}</small>
        </p>
    </div>

    {{ form_rest(form) }}


{% endblock %}
        
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.passstrength.min.js') }}"></script>
    {#        {{asset('js/jquery.passstrength.min.js')}}#}
{% endblock %}