{% set user = app.security.getToken().getUser() %}

{% set route = app.request.attributes.get('_route')%} 

{% if route == 'p4m_core_showWall'%}
    {%set postPath = path('p4m_core_showWallPosts', {'wallSlug': wall.slug}) %}
    {% set postName = wall.name%} 
{% elseif  route == 'p4m_core_showReadLater'%}
    {%set postPath = path('p4m_core_showReadLaterPosts') %}
    {% set postName = 'Watch later'%} 
{%else %}
   {%set postPath = path('p4m_core_showHistoryPosts') %}
{% set postName = 'Your History'%}
{%endif%}




					
					
  

{#{%include('P4MCoreBundle:Menu/ActionBar/Wall:action-bar-filters-action.html.twig')%}#}

 


<li class="action-bar-section" id="section-post">
    <div class="action-bar-block">
        <h1 class="action-bar-title"><span class="glyphicon file">&nbsp;</span>{{ 'Filtering content'|trans({}, 'menu')}}</h1>
        <p>{{ 'results for you search, explore those results.'|trans({'number': 250000}, 'menu')}}</p>
    </div>    
  
    <form data-target="serialize" data-url="{{path('p4m_core_search_ajax')}}" id="action-bar-filters-form" method="post" class="ajax_form">
        <input type="hidden" name="where" value="post" />
        <input type="hidden" name="k" value="{{keyword}}" />
        {% set languages = getLanguages(results)%}
        {% include 'P4MCoreBundle:Menu/ActionBar/filters:action-bar-posts-filter.html.twig'%}
        <div class="clear"></div>
    </form>
    <div class="clear"></div>

</li>

<li class="action-bar-section" id="section-community">
    <div class="action-bar-block">
        <h1 class="action-bar-title"><span class="glyphicon group">&nbsp;</span>{{ 'Filtering people'|trans({}, 'menu')}}</h1>
        <p>{{ 'results for you search, explore those results.'|trans({'number': 250000}, 'menu')}}</p>
    </div>    
    
    
    <div class="filter-wrap-large">
        <form data-target="serialize" data-url="{{path('p4m_core_search_ajax')}}" id="action-bar-filters-form-user" method="post" class="ajax_form">
            <input type="hidden" name="where" value="user" />
            <input type="hidden" name="k" value="{{keyword}}" />
            <h4 class="action-bar-small-title"><span class="glyphicon star"></span>Rank</h4>	
            <ul class="filter-type-radio">
                 {#<li class="filter-radio selected">
                    <img alt="" data-unselected="{{asset('images/design/icons/running-gray-color.png')}}" data-selected="{{asset('images/design/icons/running-full-color.png')}}" src="{{asset('images/design/icons/running-gray-color.png')}}" />
                    <span class="filter-label">Followers</span>
                    <input type="radio" name="rank" value="followers" checked="checked" />   
                </li> 
                <li class="filter-radio">
                    <img alt="" data-unselected="{{asset('images/design/icons/heart-gray-color.png')}}" data-selected="{{asset('images/design/icons/heart-full-color.png')}}" src="{{asset('images/design/icons/heart-gray-color.png')}}" />
                    <span class="filter-label">Like</span>
                    <input type="radio"  name="rank" value="like" />   
                </li>  #}    
                
                {#<li class="filter-radio selected">
                        <span class="filter-label">Reputation</span>
                        <input type="radio" name="rank" value="comments" checked="checked" />   
                    </li> #}
                    <li class="filter-radio">
                        <span class="filter-label">{{ 'Strews'|trans({}, 'menu')}}</span>
                        <input type="radio"  name="rank" value="strews" />   
                    </li> 
                    {#<li class="filter-radio">
                        <span class="filter-label">Load</span>
                        <input type="radio" name="filter-rank" value="like" />   
                    </li> 

                    <li class="filter-radio">
                        <span class="filter-label">badges</span>
                        <input type="radio"  name="filter-rank" value="view" />   
                    </li> #}
                     <li class="filter-radio">
                        <span class="filter-label">{{ 'Content add'|trans({}, 'menu')}}</span>
                        <input type="radio"  name="rank" value="add" />   
                    </li> 

            </ul>
            <div class="clear"></div>
        </form>
     </div>
</li>


<li class="action-bar-section" id="section-strews">
    <div class="action-bar-block">
        <h1 class="action-bar-title"><span class="glyphicon show_thumbnails">&nbsp;</span>{{ 'Filtering strews'|trans({}, 'menu')}}</h1>
        <p>{{ 'results for you search, explore those results.'|trans({'number': 250000}, 'menu')}}</p>
    </div>    


    <form data-target="serialize" data-url="{{path('p4m_core_search_ajax')}}" id="action-bar-filters-form-strew" method="post" class="ajax_form">
        <input type="hidden" name="where" value="strew" />
        <input type="hidden" name="k" value="{{keyword}}" />
        {% set languages = getLanguages(results)%}
        {%include 'P4MCoreBundle:Menu/ActionBar/Common:action-bar-strew-filters-form.html.twig'%}
    </form>
</li>





















